.checkout-timeline{
    @mixin alert {
        gap: 10px;
        padding: 11px 11px 11px 13px;
    }
    font-family: 'Roboto' !important;
    &__back {
        width: 184px;
        margin-bottom: 31px;
        margin-top: 16px;
        a {
            text-decoration: none;
            gap: 7.5px;
            &:hover {
                color: $black;
            }
            p {
                font-size: 14px;
                font-weight: 20px;
            }
        }
    }
    &__progress-bar {
        padding-bottom: 32px;
        position: relative;

        @media (max-width: 991px) {
            padding-bottom: 46px;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                border-radius: 50%;
                width: 12px;
                height: 12px;
                border: 2px solid $gray-300;
                z-index: 1;
                background-color: $white;
                position: relative;

                a {
                    height: inherit;
                    display: block;
                }
                &::after {
                    content: '';
                    background-color: $gray-300;
                    display: block;
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    z-index: -17;
                    border: 2px solid white;
                    outline: 2px solid $gray-300;
                    opacity: 0;
                    transition: all ease-in-out 0.2s;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
                &.active {
                    border: 2px solid $blue;
                    background-color: $blue;
                    span {
                        color: $black;
                        font-weight: $font-weight-bold;
                    }

                    &::after {
                        content: '';
                        background-color: var(--progress-bar-active);
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        z-index: -17;
                        border: 2px solid white;
                        outline: 2px solid var(--progress-bar-active);
                        opacity: 0;
                        transition: all ease-in-out 0.2s;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }

                }
                &:has(~ .active) {
                    border: 2px solid var(--progress-bar-active);
                    background-color: var(--progress-bar-active);

                    &::after {
                        content: '';
                        background-color: var(--progress-bar-active);
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        z-index: -17;
                        border: 2px solid white;
                        outline: 2px solid var(--progress-bar-active);
                        opacity: 0;
                        transition: all ease-in-out 0.2s;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
                & span {
                    position: absolute;
                    top: 12px;
                    color: $gray-500;
                    font-size: 12px;
                    line-height: 16px;
                    width: 50px;
                }
                &.guest-info {
                    .nav-link {
                        background-color: unset;
                    }
                   span {
                        font-size: 16px;
                        line-height: 20px;
                        width: max-content;
                   }
                }
                &.rooms-gear {
                    .nav-link {
                        background-color: unset;
                    }
                    span {
                        font-size: 16px;
                        line-height: 20px;
                        width: max-content;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &.payment {
                    .nav-link {
                        background-color: unset;
                    }
                    span {
                        font-size: 16px;
                        line-height: 20px;
                        width: max-content;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &.review {
                    .nav-link {
                        background-color: unset;
                    }
                    span {
                        right: 0;
                        left: auto;
                        transform: translateX(0);
                        font-size: 16px;
                        line-height: 20px;
                        width: max-content;
                    }
                }
            }
        }
    }
    &__info {
        @include alert;
        background-color: #F4F4F4;
        border: 1px solid var(--alert-border-color);
    }
    
    &__warning {
        @include alert;	
        background-color: #F4F4F4;
        border: 1px solid #7C5E12;
        margin-bottom:40px;
    }
    &__progress {
        height: 2px;
        width: 100%;
        top: 5px;
        position: absolute;
        background-color: $gray-300;
        border-radius: 10px;
        &-bar-line {
            width: 0%;
            flex-direction: column;
            overflow: hidden;
            color: #fff;
            text-align: center;
            height: 2px;
            white-space: nowrap;
            background-color: var(--progress-bar-active);
        }
    }
    
    @include media-breakpoint-up(lg) {
        &__back {
            margin-top: 16px;
            margin-bottom: 61px;
            a {
                p {
                    font-size: 18px;
                    font-weight: 28px;
                }
            }
        }
        &__progress-bar {
            padding-bottom: 48px;
            ul {
                li {
                    a {
                        height: inherit;
                        display: block;
                    }
                    span { 
                        font-size: 16px;
                        line-height: 24px;
                        width: max-content;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &.rooms-gear {
                        span {
                            text-align: unset;
                        }
                    }
                    &.guest-info {
                        span {
                            left: 0;
                            transform: translateX(0);
                        }
                    }
                    &.review {
                        span {
                            right: 0;
                            left: auto;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}