.checkout-step-two-hotel{
    &__guests-left-counter {
        align-items: baseline;
        .badge{
            background: #FFFFFF;
            color: $black;
            border: 1px solid #B2B3B6;
            border-radius: 4px;
            margin-left: 2rem;
            padding: 6px 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__room-options{
        .bed-icon{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1731_1673)'%3E%3Crect width='24' height='24' fill='white'/%3E%3Crect y='14' width='24' height='3' fill='%2328AAE1'/%3E%3Crect y='6' width='24' height='1' fill='%2328AAE1'/%3E%3Crect y='7' width='0.923077' height='5' fill='%2328AAE1'/%3E%3Crect x='23.0781' y='7' width='0.923077' height='5' fill='%2328AAE1'/%3E%3Crect y='12' width='24' height='1' fill='%2328AAE1'/%3E%3Cpath d='M6.5 10C4.875 10 1.48958 11 0 12H13C12.0521 11 8.125 10 6.5 10Z' fill='%2328AAE1'/%3E%3Cpath d='M17.5 10C15.875 10 12.4896 11 11 12H24C23.0521 11 19.125 10 17.5 10Z' fill='%2328AAE1'/%3E%3Crect x='21.2305' y='15' width='2.76923' height='3' fill='%2328AAE1'/%3E%3Crect y='15' width='2.76923' height='3' fill='%2328AAE1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1731_1673'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-repeat: no-repeat;
            padding: 0 13px;
            margin-left: 1rem;
            background-position: bottom;
        }
    }
        &__add-occupants-btn, &__edit-occupants-btn{
            border-color: $black !important;
            font-weight: 500;
            display: flex;
            img{
                margin-right: 6px;
            }
        }
        &__edit-occupants-btn{            
            margin-right: 1rem;
        }
    
    &__add-occupants-btn{
        order: 3;
    }
    &__assigned-occupants-list{
        margin-bottom: 1rem;
        order: 2;
    }

    &__two-bed {
        .checkout-step-two-hotel__edit-occupants-btn {
            display: none;
        }
    }

    &__one-bed, &__two-bed, &__open-to-roommate, &__private{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start; 
    }       
        &__room-type{
            margin-bottom: 0;           
            order: -1;            
        }
        &__room-occupancy{            
            order: -1;            
        }
        &__edit-occupants{ 
            display: flex;
            align-items: center;           
            margin-bottom: 1rem;
            order: 3;            
        }
        &__room-quantity{
            display: flex;            
            justify-content: space-between;
            order: 1;            
            align-items: baseline;
            .input-group{
                width: 30%;
                justify-content: flex-end;
                button{
                    padding: 0;
                    --bs-btn-border-width: 0 !important;
                    &:disabled{
                        border: none;
                        box-shadow: none;
                        opacity: 0.35;
                    }
                    &:hover, &:active, &:focus{
                        border-color: transparent;
                        box-shadow: none;
                    }
                }
                .form-control{
                    flex: 0 0 auto;
                    pointer-events: none;
                    text-align: center;
                    width: inherit;
                    padding: 6px 8px;
                }
            }
        }
    

    &__open-to-roommate, &__private{
        .price, .refund-info{
            order: 6;
        }        
    }

    &__special-requests{
        textarea{
            resize: none;
            &:focus{
                border: 1px solid #B2B3B6;
                border-radius: 4px;
                box-shadow: none;
            }
        }
    }
     @include media-breakpoint-up(xl) {
        &__open-to-roommate,
        &__private, &__one-bed, &__two-bed {
            flex-direction: row;
        }
        &__assigned-occupants-list{            
            order: 0;
        }
        &__add-occupants-btn{
            order: 0;
        }

        &__add-occupants {
            width: 50%;
            justify-content: end;
            display: flex;
        }            
            &__room-type{                
                order: -1; 
                margin-bottom: 0;               
            }
            &__room-occupancy{
                width: 50%;
                order: -1;
            }
            &__edit-occupants{                
                display: flex;
                width: 50%;
                justify-content: end;
                margin-bottom: 0;   
                order: -1;               
            }
            &__room-quantity{                
                width: 50%;
                justify-content: end;
                gap: 15px;
                order: -1;
            }
        
        &__open-to-roommate, &__private{        
            .price, .refund-info{
                width: 100%;
                order: 0;
            }
        }

        &__special-requests{           
            margin: 2rem auto;
        }
        &__next-step{            
            margin: 2rem auto;
            display: flex;
            justify-content: space-between;
            align-items: baseline;            
        }
        &__footer-step-btn{
            margin-top: 40px;
            margin-bottom: 100px;
        }
    }
}

.checkout-hotel-modal{    
    &__occupants-selection{
        margin: 2rem auto;
        .bed-icon{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1731_1673)'%3E%3Crect width='24' height='24' fill='white'/%3E%3Crect y='14' width='24' height='3' fill='%2328AAE1'/%3E%3Crect y='6' width='24' height='1' fill='%2328AAE1'/%3E%3Crect y='7' width='0.923077' height='5' fill='%2328AAE1'/%3E%3Crect x='23.0781' y='7' width='0.923077' height='5' fill='%2328AAE1'/%3E%3Crect y='12' width='24' height='1' fill='%2328AAE1'/%3E%3Cpath d='M6.5 10C4.875 10 1.48958 11 0 12H13C12.0521 11 8.125 10 6.5 10Z' fill='%2328AAE1'/%3E%3Cpath d='M17.5 10C15.875 10 12.4896 11 11 12H24C23.0521 11 19.125 10 17.5 10Z' fill='%2328AAE1'/%3E%3Crect x='21.2305' y='15' width='2.76923' height='3' fill='%2328AAE1'/%3E%3Crect y='15' width='2.76923' height='3' fill='%2328AAE1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1731_1673'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-repeat: no-repeat;
            padding: 0 13px;
            margin-left: 1rem;
            background-position: bottom;
        }
        select{            
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-expand' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z'/%3E%3C/svg%3E") !important;
            background-size: auto !important;
            &:focus{
                border: 1px solid #B2B3B6;
                border-radius: 4px;
                box-shadow: none;
            }
        }
        .form-floating{
            margin-bottom: 1rem !important;
        }
    }
    .modal-header{
        border-bottom: none !important;
    }
    .modal-body{
        padding-top: .5rem !important;
    }
    &__cancel-btn{
        text-decoration: underline;
    }
    &__modal-footer-btn{
        margin: 3rem auto 1rem;
    }
}