.pdp-weather {
    &__weather-table {
        overflow-x: auto;
        padding: 0;

        table {
            width: 100%;
            border-collapse: collapse;

            tr th:first-child {
                position: sticky;
                left: -1px;
                white-space: nowrap;
            }

            thead tr th:first-child {
                background-color: $black;
            }
        }

        thead th, tbody th {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }

        tbody tr th:first-child {
            background-color: $white;
            font-size: 14px;
            line-height: 20px;
        }

        // New styles for responsive unit-group
        .small-text {
            font-size: smaller;
            color: #666;
        }

        .separator {
            margin: 0 5px;
        }

        .unit-group {
            display: inline-flex;
            flex-wrap: wrap;
            white-space: nowrap;
        }

        .unit-group > span {
            display: inline-block;
        }

        @include media-breakpoint-down(sm) {
            .unit-group > .separator, .unit-group > .small-text {
                display: block;
                margin-left: 0;
            }
        }
    }
}
