#testimonials {
    
    .col-12 {
        padding-right: unset;
    }

    .card {
        border: unset;
        background-color: $gray-100;
        border-bottom: 4px solid $blue;
        margin-left: 10px;
        margin-right: 10px;
        &:nth-child(even){
            @include media-breakpoint-up(lg) {
                margin-top: 1%;
            }
        }
        .text {
            font-size: 14px;
            line-height: 20px;
            color: $black;
            font-family: 'Roboto';
            margin-top: 24px;
        }

        .card-body {
            & > div {
                margin-bottom: 16px;
            }
        }

        p {
            margin-bottom: 0;
            &.long-text {     
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            &.is-expanded {
                white-space: initial;
                overflow: visible;
                display: block;
            }
        }
        .read-more{ 
            display: none;
            font-size: 14px;
            text-align: center;
            width: 100%;
            color: #28AAE1;
            margin-top: -3px;
            margin-bottom: 16px;
            cursor: pointer;
        }
        .text-author {
            font-family: 'Roboto';
            font-size: 14px;
            line-height: 20px;
            color: $gray-600;
            &:before {
                content: '-';
                width:10px;
            }
        }
        .card-img-top {
            height: 300px;
            object-fit: cover;
            object-position: top center;
            @include media-breakpoint-down(sm) {
                height: 350px;
            }
        }
    }
    .slick-slider {
        margin-right: -20px;
        @include media-breakpoint-up(lg) {
            margin-right: -72px;
        }
    }
    .slick-list{
        // padding:0 50px 0 0;
        // margin: 0 -10px;
        // padding: 0px 15px;
        padding-left: 4%;

        @media screen and (max-width: 991px) {
            padding: 0;
        }
    }
    .slick-slide {
        // margin-right:8px;
        // @include media-breakpoint-up(lg) {
        //     margin-right: 10px;
        //     margin-left: 10px;
        // }
        @include media-breakpoint-up(lg) {
            &:nth-of-type(even) {
                margin-top: 52px;
            }
        }
    }
    .slick-prev {
        width: 63px;
        height: 63px;
        background: url('../../../trek-travel-theme/assets/images/testimonial-arrow.png') !important;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 1;
        &:before {
            content: unset !important;
        }
    }
    .slick-next {
        width: 63px;
        height: 63px;
        right: 2%;
        margin-top: 3%;
        background: url('../../../trek-travel-theme/assets/images/testimonial-arrow.png') !important;
        &:before {
            content: unset !important;
        }
    }
    .slick-list {
        @include media-breakpoint-down(lg) {
            padding-bottom: 24px;
        }
    }
    .slick-dots {
        li {
            width: unset;
            height: unset;
            border-radius: 50%;
            margin-right:3px;
            button {
                border: 1px solid $gray-500;
                height: 8px;
                width: 8px;
                padding: 4px;
                border-radius: 50%;
                &::before {
                    content: unset;
                }
            }
            &.slick-active{
                background-color: $gray-500;
            }
        }
    }
}