/**
 * Styles for the admin edit.php area
 */

/* Adjust the width of the product listing columns. */
table.wp-list-table .column-ns_last_synced,
table.wp-list-table .column-taxonomy-activity,
table.wp-list-table .column-parent_product,
table.wp-list-table .column-orders_count {
	width: 7% !important;
}

.related-orders-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.related-order-link {
	display: inline-block;
	padding: 2px 5px;
	background: #f0f0f1;
	border-radius: 3px;
	color: #50575e;
	text-decoration: none;
	cursor: inherit !important;
}
.related-order-link.travel-protection {
	background: #ebe9ff;
	color: #674399;
}
.related-order-link.booking {
	background: #e6f6e8;
	color: #2a6638;
}
.related-order-link:hover {
	background: #007cba;
	color: #fff;
}

.order-guest-reg-list {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100% !important;
}

.order-guest-reg {
	position: relative;
}

.tpp-protected-status {
	position: absolute;
	top: -6px;
	right: -6px;
	line-height: 0;
	background: #fff;
	padding: 2px;
	border-radius: 50%;
	box-shadow: 0 0 7px #28AAE1;
}

.tpp-protected-status.guest-protected {
	box-shadow: 0 0 5px #28AAE1;
}

.tpp-protected-status.guest-not-protected {
	box-shadow: 0 0 5px rgb(206 36 45);
}

.tpp-protected-status img {
	max-width: 12px;
}
