.my-account-password-reset{
    .dashboard__card {
        padding: 32px 20px 36px 20px;
    }
    .dashboard__title {
        margin-bottom: 24px;
        margin-top: 15px;
    }
    .form-group {
        .input-text{
            background: $white;
            border: 1px solid $gray-400;
            border-radius: $border-radius-sm; 
            &:hover {
                border: 1px solid $black;
            }
            &:focus {
                box-shadow: none;
            }
        }
        button {
            border-radius: $border-radius-sm;
            padding: 1rem 1.25rem;
            font-weight: $font-weight-medium;
            border: unset;
        }
        .form-floating{
            margin-bottom: 1rem !important;
        }
    }
      .form-text{
        font-size: .75rem;
      }

      .was-validated .form-check-input:valid, .form-check-input.is-valid{
        background-color: initial;
        border-color: #666666;
        box-shadow: none;
      }
      .was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked{
        background-color: #000000;
        border-color: #666666;
        box-shadow: none;
      }
      .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label{
        color: initial;
      }

      .password-eye {
        position: absolute;
        right: 6px;
        top: 20px;
    }
    @include media-breakpoint-up(lg) {
        .password-reset-form{
            width: 50%;
        }
        .dashboard__title {
          margin-top: 3px;
        }
        .dashboard__card {
            padding: 48px 48px 52px 48px;
        }
    }
}