// Login Register Modal

body.lity-login-modal .lity {
	background: rgba(0, 0, 0, 0.3); // Custom opacity for login modal only
  backdrop-filter: blur(3px);
}


.lity-active button.lity-close {
  position: absolute;
    top: -20px;
    right: -20px;
    background-color: $blue;
    border-radius: 50%;
}

#login-register-modal {
  max-width: 500px; // â† consistent width
  width: 90vw;
  margin: auto;
  background: white;
  border-radius: 5px;
  padding: 1rem;


  .sign-logo {
    display: flex;

    img {
      display: flex;
      object-fit: contain;
      width: 100%;
      max-height: 150px;
    }
  }

  .nav-tabs {

    .nav-item {
      flex: 1;

      .nav-link {
        color: $gray-500;
        text-align: center;
        background-color: $gray-100;
        font-weight: 600;
        transition: all 0.3s ease;
        
        &:hover {
          box-shadow: 0px -3px 4px -2px rgba(0, 0, 0, 0.3);
        }
        &.active {
          color: black;
          background-color: white;
          border-bottom: 3px solid $blue;
          box-shadow: none;

        }
      }
    }
  }

  .sign-text {
    text-align: center;
    word-break: break-word; // prevent overflow
    max-width: 100%;
    // width: 50%;
  }

  .woocommerce-privacy-policy-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    width: 100%;
    word-wrap: break-word;
  }

  @include media-breakpoint-up(sm) {

    justify-content: center;
    // flex-direction: column;

    .sign-text {
      margin-bottom: 20px;
    }

    .sign-logo {
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-down(xl) {
    .sign-text {
      width: 100%;
    }
  }

  @include media-breakpoint-down(lg) {    
    .sign-logo img {
      max-height: 175px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 50px;
    .sign-logo img {
      max-height: 100px;
    }
  }

  @include media-breakpoint-down(sm) {
    // flex-direction: column-reverse;
    // height: fit-content;
    // margin-top: 20px;

    // .sign-logo {
    //   display: none;
    // }
  }

  .fixed-tab-content {
    position: relative;
    height: 500px;
    // overflow: hidden;
  }

  .tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  .tab-pane:not(.show) {
    opacity: 0;
    pointer-events: none;
  }

  .tab-pane.show.active {
    position: relative;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
  }

}

// Sign in

.sign-welcome {
  display: flex;
  flex-direction: c;
  align-items: center;
  height: 100%;
  justify-content: center;
  // justify-content: space-between;
  // gap: 30px;

  
}

// .register-form {

//   .woocommerce-privacy-policy-text {
//     font-size: 0.75rem;
//     line-height: normal;
//   }
// }

.login-form {
  display: flex;
  flex-direction: column;
  min-height: 500px;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;

    .f-btm {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: auto;
    }
  }

  .sign-btns {
    justify-content: space-between;
    align-items: end;
  }

  .register-btn {
    width: 100%;
    margin-bottom: 1rem;
    height: 40px;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .form-floating {
    margin-bottom: 1rem !important;

    .form-control, label {
      height: 3rem;
      padding: 0.5rem 0.75rem;
    }
  }

  .login-title {
      margin-bottom: 15px;
  }

  .forgot-pwd {
    display: flex;
    justify-content: flex-end;
  }


  @include media-breakpoint-up(lg) {
    // margin-left: auto;
    // margin-right: auto;
  }

  @include media-breakpoint-up(md) {
    // margin-left: 30px;
  }

  @include media-breakpoint-down(lg) {
    // margin-top: 50px;
    
  }

  @include media-breakpoint-down(md) {
    // margin-top: 30px;
  }
  @include media-breakpoint-down(sm) {
    // margin-left: auto;
  }
}

// BANNER HERO

// .banner-hero-full {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-size: cover;
//   background-position: center center;
//   height: 60vh;
//   max-height: 920px;
//   margin-bottom: 50px;

//   @include media-breakpoint-down(md) {
//     margin-bottom: 30px;
//   }
// }

.banner-hero-full {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  position: relative;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.6);
  min-height: 350px;
  height: 35vw;
  max-height: 825px;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm){
    margin-bottom: 20px;
  }

  &:before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      background: linear-gradient(180deg, rgba(244, 244, 244, 0) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.45) 100%);
  }

  .container {
      position: absolute;
      bottom: 0;
      margin: auto;
      margin-bottom: clamp(30px, 5vw, 70px);

      h1 {
          color: #fff;
          
      }
  }
}

// VIDEO SECTION

.video-sect {
    background: rgb(244,244,244);
    background: linear-gradient(180deg, rgba(244,244,244,0) 50%, rgba(244,244,244,1) 50%);
    // padding-bottom: 145px;
}

.video-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // CTA 50-50

.cta-sect {
    position: relative;
    background-color: $tt-green;
  
    .row {
      align-items: center;
      height: 100%;
    }
  
    .cta-block {
      position: relative;
      display: flex;
    }
  
    .cta-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      > * {
        color: white;
      }

      .btn {
        width: fit-content;
        background-color: transparent;
      }
    }
  
    .cta-img {
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center center;
      height: 100%;
    }
  
    @include media-breakpoint-up(lg) {
      .cta-block {
        min-height: 600px;
      }
    }
  
    @include media-breakpoint-down(lg) {
      .cta-block {
        justify-content: flex-end;
        flex-direction: column-reverse;
      }
      .container {
        height: 100%;
      }
  
      .cta-content {
        align-items: center;
        text-align: center;
        padding: 90px 0 120px;
      }
  
      .cta-img {
        position: relative;
        height: 300px;
      }
    }
  
    @include media-breakpoint-down(sm) {
      .cta-content {
        padding: 70px 0 100px;
      }
    }
  }


  // PRINT GLOBAL STYLES

  @media print {

    @page {
      size: A4;
      margin: 25.4mm; /* Adjust as needed */
    }

    .container {
      // padding: 0 !important;
      max-width: none;
      // width: calc(100% + 50.8mm); /* Full width including left and right margins */
      // margin-left: -25.4mm; /* Negative margin to offset the default margin */
      // margin-right: -25.4mm;
  }

    header {
      display: none !important;
    }

    footer {
        display: none !important;
    }

    .elementor-popup-modal {
        display: none !important;
    }

    .copyright {
        display: none !important;
    }

    .promo-banner {
        display: none !important;
    }
  }