// BANNER HERO

.banner-hero-full {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  max-height: 920px;
  margin-bottom: 50px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

// VIDEO SECTION

.video-sect {
    background: rgb(244,244,244);
    background: linear-gradient(180deg, rgba(244,244,244,0) 50%, rgba(244,244,244,1) 50%);
    // padding-bottom: 145px;
}

.video-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // CTA 50-50

.cta-sect {
    position: relative;
    background-color: $tt-green;
  
    .row {
      align-items: center;
      height: 100%;
    }
  
    .cta-block {
      position: relative;
      display: flex;
    }
  
    .cta-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      > * {
        color: white;
      }

      .btn {
        width: fit-content;
        background-color: transparent;
      }
    }
  
    .cta-img {
      position: absolute;
      top: 0;
      background-size: cover;
      background-position: center center;
      height: 100%;
    }
  
    @include media-breakpoint-up(lg) {
      .cta-block {
        min-height: 600px;
      }
    }
  
    @include media-breakpoint-down(lg) {
      .cta-block {
        justify-content: flex-end;
        flex-direction: column-reverse;
      }
      .container {
        height: 100%;
      }
  
      .cta-content {
        align-items: center;
        text-align: center;
        padding: 90px 0 120px;
      }
  
      .cta-img {
        position: relative;
        height: 300px;
      }
    }
  
    @include media-breakpoint-down(sm) {
      .cta-content {
        padding: 70px 0 100px;
      }
    }
  }


  // PRINT GLOBAL STYLES

  @media print {

    @page {
      size: A4;
      margin: 25.4mm; /* Adjust as needed */
    }

    .container {
      // padding: 0 !important;
      max-width: none;
      // width: calc(100% + 50.8mm); /* Full width including left and right margins */
      // margin-left: -25.4mm; /* Negative margin to offset the default margin */
      // margin-right: -25.4mm;
  }

    header {
      display: none !important;
    }

    footer {
        display: none !important;
    }

    .elementor-popup-modal {
        display: none !important;
    }

    .copyright {
        display: none !important;
    }

    .promo-banner {
        display: none !important;
    }
  }