.page-template-tpl-landing-guides {
    .lity-close {
        display: none;
    }

   
}
.lity-active {
    overflow: hidden !important;
}


.guides-content {
    margin-bottom: 80px;

    @include media-breakpoint-down(xl) {
        margin-bottom: 60px;
    }
}

/* Guide Grid */
.guides-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.guide-search-container {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 auto 50px;

    .search-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: black;
        pointer-events: none;
        font-size: 1rem;
    }


    .guide-search-input {
        width: 300px;
        padding: 10px 15px;
        font-size: 1rem;
        border: 2px solid $gray-600;
        color: black;
        border-radius: 25px;
        outline: none;
        text-align: center;
        transition: border-color 0.3s ease-in-out;
        background-color: $gray-100;

        &:focus {
            background-color: white;
            border-color: $blue; // Dark border on focus
        }

        &::before {
            content: "\f002"; // Font Awesome "magnifying glass"
            font-family: "Font Awesome 6 Pro";
            font-weight: 900; // Use 400 for regular or 300 for light if needed
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
            pointer-events: none;
        }
    }
}


.guide-card {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

        .guide-name {
            font-size: 2rem;
        }

        .guide-img {
            &::after {
                opacity: 1;
            }
            &::before {
                opacity: 0; // Fade out gradient smoothly instead of transitioning linear-gradient
            }
        }

        .guide-info {
            // color: black;
            // text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.75);
            // text-shadow: none;
            bottom: 25px; // Moves up to make room for details
        }

        .guide-details {
            opacity: 1;
            max-height: 100px; // Adjust based on content height
            transform: translateY(0);
        }
    }

    .guide-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(0, 0, 0, 0.85) 0%, rgba(255, 255, 255, 0) 50%);
            z-index: 0;
            transition: opacity 0.4s ease-in-out; // Use opacity instead of gradient transition
            opacity: 1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background: linear-gradient(45deg, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 0) 50%);
            background: linear-gradient(45deg, rgba(0, 0, 0, 0.90) 15%, rgba(255, 255, 255, 0) 50%);
            z-index: 0;
            transition: opacity 0.4s ease-in-out; // Use opacity instead of gradient transition
            opacity: 0;
        }
    }
}


.guide-info {
    position: absolute;
    bottom: 25px;
    left: 25px; // Positioning at the bottom-left
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    width: calc(100% - 30px);
    transition: bottom 0.35s ease-in-out;

    .guide-name {
        margin-bottom: 15px;
        span {
        display: block; // Forces each name part onto a new line
        text-align: left;
        line-height: 1.2;
        font-weight: 600;
        transition: transform 0.35s ease-in-out;
        
        }
    }

    .guide-details {
        opacity: 0;
        max-height: 0; // Start hidden
        overflow: hidden; // Prevent content from affecting layout
        transform: translateY(10px);
        transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out, max-height 0.35s ease-in-out;
        opacity: 0;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        :first-child {
            margin-bottom: 5px;
        }
    }
}


// 

/* Modal */
.g-modal {
    display: flex;
    min-height: 600px;
    max-width: 1000px;
    max-height: min(90vh, 700px) !important;
    width: 55vw;
    border-radius: 10px;
    overflow: hidden;

    @include media-breakpoint-down(xxl) {
        width: 65vw;
    }

    @include media-breakpoint-down(xl) {
        width: 75vw;
    }
    @include media-breakpoint-down(md) {
        width: 90vw;
    }

    @include media-breakpoint-up(xl) {
        max-height: 700px !important;
    }

    .modal-content {
        position: relative;
        background: white;
        width: 100%;
        max-height: 100%;
        // border-radius: 10px;
        // border: none;
        border-bottom: 5px solid $blue;
        text-align: center;
        display: flex;
        flex-direction: row;
        // overflow-x: hidden;
        // overflow-y: auto; // Enables scrolling anywhere in modal
        // -webkit-overflow-scrolling: touch; // Improves scrolling on mobile

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            border-bottom: none;
        }

    
        &::-webkit-scrollbar {
            width: 4px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
      
    }

    .g-header {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        color: white;
        // transition: padding 0.3s ease-in-out;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
        
    }

    .g-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-down(xxl) {
            // height: 400px;
        }
        @include media-breakpoint-down(lg) {
            height: 350px;
        }

        @include media-breakpoint-down(md) {
            height: 300px;
        }
    }

    .g-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        gap: 10px;
        // background-color: white;
        padding: 30px 15px;
        // transition: padding 0.5s ease-in-out;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
        color: white;
        .g-title {
            color: white;
            // font-family: 'Libre Baskerville';
            // font-weight: 700;
        }

        .g-nick {
            font-family: 'Libre Baskerville';
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

        .g-details {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            text-transform: uppercase;
            position: relative;
            font-weight: 600;
        }
    }

    .g-what, .g-place {
        height: 100%;
        padding: 40px;

        @include media-breakpoint-down(xxl) {
            padding: 30px;
        }
          @include media-breakpoint-down(lg) {
            padding: 20px;
            height: auto;
        }
    }
    

    .what-content, .place-content {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p:last-child {
            margin-bottom: 0;
        }
    }

    .g-what {
        background-color: white;
    }

    .g-place {
        color: white;
        background-color: $gray-900;

        .p-text {
            color: white;
            // padding: 30px;
        }

        @include media-breakpoint-down(lg) {
            border-bottom: 5px solid #28AAE1;
        }
    }

    .g-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 6px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: $blue;
            border-radius: 10px;
        }

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }


    .g-close {
        z-index: 9994;
        width: 35px;
        height: 35px;
        position: fixed;
        right: 0;
        top: 0;
        -webkit-appearance: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        padding: 0;
        color: #fff;
        font-style: normal;
        font-size: 35px;
        font-family: Arial, Baskerville, monospace;
        line-height: 35px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        border: 0;
        background: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        top: -20px;
        right: -20px;
        background: black;
        border-radius: 50%;
    }
    
    
}


