form.trek-trip-finder-form{
    input, i{
        &:hover{
            cursor: pointer;
        }
    }
    .show-trips-btn {
        @media screen and (max-width: 767px) {
            width: 100%;

            button {
                width: 100%;
            }
        }
    }
}