// stylelint-disable function-disallowed-list

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Container that the modal scrolls within

.modal-open {
  overflow: hidden !important;
}
.modal {
  // scss-docs-start modal-css-vars
  --#{$prefix}modal-zindex: #{$zindex-modal};
  --#{$prefix}modal-width: #{$modal-md};
  --#{$prefix}modal-padding: #{$modal-inner-padding};
  --#{$prefix}modal-margin: #{$modal-dialog-margin};
  --#{$prefix}modal-color: #{$modal-content-color};
  --#{$prefix}modal-bg: #{$modal-content-bg};
  --#{$prefix}modal-border-color: #{$modal-content-border-color};
  --#{$prefix}modal-border-width: #{$modal-content-border-width};
  --#{$prefix}modal-border-radius: #{$modal-content-border-radius};
  --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
  --#{$prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};
  --#{$prefix}modal-header-padding-x: #{$modal-header-padding-x};
  --#{$prefix}modal-header-padding-y: #{$modal-header-padding-y};
  --#{$prefix}modal-header-padding: #{$modal-header-padding}; // Todo in v6: Split this padding into x and y
  --#{$prefix}modal-header-border-color: #{$modal-header-border-color};
  --#{$prefix}modal-header-border-width: #{$modal-header-border-width};
  --#{$prefix}modal-title-line-height: #{$modal-title-line-height};
  --#{$prefix}modal-footer-gap: #{$modal-footer-margin-between};
  --#{$prefix}modal-footer-bg: #{$modal-footer-bg};
  --#{$prefix}modal-footer-border-color: #{$modal-footer-border-color};
  --#{$prefix}modal-footer-border-width: #{$modal-footer-border-width};
  // scss-docs-end modal-css-vars

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$prefix}modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--#{$prefix}modal-margin);
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  // When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  }
  .modal.show & {
    transform: $modal-show-transform;
  }

  // When trying to close, animate focus to scale
  .modal.modal-static & {
    transform: $modal-scale-transform;
  }
}

.modal-dialog-scrollable {
  height: calc(100% - var(--#{$prefix}modal-margin) * 2);

  .modal-content {
    max-height: 100%;
    overflow: hidden;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);
}

// Actual modal
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  color: var(--#{$prefix}modal-color);
  pointer-events: auto;
  background-color: var(--#{$prefix}modal-bg);
  background-clip: padding-box;
  border: var(--#{$prefix}modal-border-width) solid var(--#{$prefix}modal-border-color);
  border-radius: $border-radius;
  @include box-shadow(var(--#{$prefix}modal-box-shadow));
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  // scss-docs-start modal-backdrop-css-vars
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  // scss-docs-end modal-backdrop-css-vars

  @include overlay-backdrop(var(--#{$prefix}backdrop-zindex), var(--#{$prefix}backdrop-bg), var(--#{$prefix}backdrop-opacity));
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: var(--#{$prefix}modal-header-padding);
  border-bottom: 1px solid $gray-200;
  border-radius: unset;

  .btn-close { // replaced button with Bootstrap close icon
    padding: calc(var(--#{$prefix}modal-header-padding-y) * .5) calc(var(--#{$prefix}modal-header-padding-x) * .5);
    margin: calc(var(--#{$prefix}modal-header-padding-y) * -.5) calc(var(--#{$prefix}modal-header-padding-x) * -.5) calc(var(--#{$prefix}modal-header-padding-y) * -.5) auto;
    font-size: 26px;
  }
}

// Title text within header
.modal-title {
  margin-bottom: 0;
  font-weight: $font-weight-medium;
  font-size: $font-size-lg;
  line-height: 1.75rem;
  width: 100%;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when there should be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: var(--#{$prefix}modal-padding);
}

// Footer (for actions)
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: calc(var(--#{$prefix}modal-padding) - var(--#{$prefix}modal-footer-gap) * .5);
  background-color: var(--#{$prefix}modal-footer-bg);
  border-top: var(--#{$prefix}modal-footer-border-width) solid var(--#{$prefix}modal-footer-border-color);
  @include border-bottom-radius(var(--#{$prefix}modal-inner-border-radius));

  // Place margin between footer elements
  // This solution is far from ideal because of the universal selector usage,
  // but is needed to fix https://github.com/twbs/bootstrap/issues/24800
  > * {
    margin: calc(var(--#{$prefix}modal-footer-gap) * .5); // Todo in v6: replace with gap on parent class
  }
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  .modal {
    --#{$prefix}modal-margin: #{$modal-dialog-margin-y-sm-up};
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-sm-up};
  }

  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: var(--#{$prefix}modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  .modal-sm {
    --#{$prefix}modal-width: #{$modal-sm};
  }
}

@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
    --#{$prefix}modal-width: #{$modal-lg};
  }
}

@include media-breakpoint-up(xl) {
  .modal-xl {
    --#{$prefix}modal-width: #{$modal-xl};
  }
}

// scss-docs-start modal-fullscreen-loop
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  $postfix: if($infix != "", $infix + "-down", "");

  @include media-breakpoint-down($breakpoint) {
    .modal-fullscreen#{$postfix} {
      width: 100vw;
      max-width: none;
      height: 100%;
      margin: 0;

      .modal-content {
        height: 100%;
        border: 0;
        @include border-radius(0);
      }

      .modal-header,
      .modal-footer {
        @include border-radius(0);
      }

      .modal-body {
        overflow-y: auto;
      }
    }
  }
}

// MODAL SEARCH FILTER ///////////////////////////////////////////////////////
.modal-search-filter {
  
  .modal-dialog {
    padding: 15px;
    margin: auto;
    max-width: 780px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .modal-body {
    padding: 26px 48px;
    // if this is constant with all modals
    // this needs to move up into the base
    // modal styles above.

    ul{
      list-style: none !important;
      display: inline-flex !important;
      border: none !important;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 0 !important;
      @media (min-width: 768px) {
        display: flex !important;
      }
      li{
          margin-bottom: .5rem;
          width: 50%;
          font-size: 1rem;
          @media (max-width: 767px) {
              font-size: 1rem;
              width: 100%;
          }
          a{
              text-decoration: none !important;
              &:hover{
                  color: #000000;
              }
          }
          .ais-RefinementList-count,
          .ais-Menu-count{
              display: none;
          }
                     
      }
      .ais-RefinementList--selected,
      .ais-Menu-item--selected{
          opacity: 1;
          // border-bottom: 3px solid black;
          a{
              &:hover{
                  color: #000000;
              }
              .form-check-input[type=checkbox] {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z'/%3E%3C/svg%3E");
              }
          }
      }
      &:hover, &:focus{
          border: none;
      }
      .form-check-input{
        border: 1px solid #666666;
        border-radius: 2px;
        margin-right: .5rem !important;
        &:checked{
            background-color: #000000;
        }
        &:focus {
            box-shadow: none;
        }
        &:hover {
            cursor: pointer;
        }
      }
    }
    #calendarTrigger{      
        @media (max-width: 767px) {
          margin: 0 auto !important;               
      }
      .range_inputs{
        @media (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }

  .filter-results-number {
    padding-right: 24px;
  }

  .modal-a {
    text-decoration-line: underline;
    cursor: pointer;
  }

  .daterangepicker {
    background: transparent !important;
    // width: 56% !important;
    position: relative !important;
    display: block !important;
    border: none;
    padding: 0;
    margin: 0;
    .calendar{
      max-width: 100% !important;
      width: 46% !important;
    }
    .cancelBtn{
      border: none;
      font-size: 1rem;
    }
    &::before{
      display: none;
    }
    .calendar.right{
      @media (max-width: 767px) {
        display: none !important;
      }
    }
  }
  .modal-footer{
    border-color: $gray-500;
    .ais-ClearRefinements-button{
      visibility: hidden;
      line-height: 0;
      @media (max-width: 767px) {
        position: absolute;
        left: 0;
        bottom: 19px;
      }
      &::after{
        content:'Clear Filters'; 
        visibility: visible;
        display: block;
        background: transparent;
        border: none;
        text-decoration: underline;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }

    }
    #clear-refinements {
      .ais-ClearRefinements-button {
        @media (max-width: 767px) { 
          position: relative;
          bottom: 0;
        }
      }
    }
    .ais-Stats{
      font-size: 16px;
      font-weight: 500;
      position: relative;
      bottom: 0;
      right: 0;
    }    
  }
}

#daterange{
  visibility: hidden !important;
}

#rangeDateVal{
  display: block;
  font-size: 1rem;
  font-weight: 500;
}
#protection_modal{
  .blockUI.blockMsg.blockElement{
    left: 50% !important;
    top: 50% !important;
  }
}

#filterModal {
  .modal-header {
    background-color: black;
    padding: 12px 16px;
    position: sticky;
    top: 0;
    z-index: 999999;
    left: 0;

    h5.modal-title {
      color: white !important;
      line-height: 18px;
    }

    .btn-close {
      padding: 8px !important;
      i {
        filter: invert(1);
      }
    }

  }
  .accordion-item {
    margin-bottom: 20px;
    border-color: #b5b5b5;
    border-radius: 5px;
    border: 1px solid #b5b5b5 !important;
    background-color: #fff;
    overflow: hidden;

    .calendar-table {
      background-color: transparent !important;
    }
    & > h5 {
      // outline: 2px solid var(--bs-accordion-border-color);
    }

    button {
      color: var(--bs-accordion-btn-color);
      background-color: #fff;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
        filter: grayscale(1) !important;
      }

      &:not(.collapsed) {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E");
        }
      }
    }
  }
  .modal-content {
    overflow: hidden;
    height: 93vh;

    @media (max-width: 767px) {
      height: 83vh;
    }
    background-color: #f4f4f4;
  }

  .modal-header {
    .modal-title {
      color: #000 !important;
      font-size: 18px !important;
      line-height: 28px;
      padding-top: 18px;
      position: relative;
      padding-top: 0;
    }
    .btn-close {
      padding-top: 0;
      z-index: 999;
      pointer-events: all;
      cursor: pointer;
      position: absolute;
      right: 32px;
    }

    @media screen and (max-width: 767px) {
      padding: 9px 18px;
    }
  }

  .modal-body {
    overflow-y: scroll;
    padding-bottom: 30px;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 32px 11px 56px;
    
    }
    h5 {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    #calendarTrigger {
      justify-content: center;

      .daterangepicker {
        margin-left: 0;
        box-shadow: none;

        @media screen and (max-width: 767px) {
          padding: 0px;
          margin: 0;
          padding-top: 0;
        }
        .calendar {
          width: 49% !important;

          @media screen and (max-width: 767px) {
            width: 100% !important;
          }
          &.left {
            .calendar-table {
              padding-right: 40px;

              @media screen and (max-width: 767px) {
                padding: 0;
              }

              table {

                @media screen and (max-width: 767px) {
                  border-spacing: 11px;
                }

                @media screen and (max-width: 400px) {
                  border-spacing: 0px;
                }
                tbody td {
                  @media screen and (max-width: 767px) {
                    padding-top: 3px;
                    padding-bottom: 3px;
                  }
                }
              } 
            }
          } 
          &.right {
            .calendar-table {
              padding-left: 40px;
            }
          }
        }
        #rangeDateVal {
          @media screen and (max-width: 767px) {
            margin-top: 28px;
          }
        }
      }
    }
    .ais-RefinementList-list,
    .ais-Menu-list {
      .ais-RefinementList-item,
      .ais-Menu-item {
        margin-bottom: 16px;
      }
      .menu-facet-container {
        & > a {
          color: black;
          .f-check,
          .f-check-active {
            img {
              width: 23px;
              height: 23px;

            }
          }
        }
      }
    }

    // Algolia Price Range Input Style START
    .ais-RangeInput {

      color: rgb(58, 69, 112);

      &-form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 56px;

        @media screen and (max-width: 470px) {
          justify-content: center;
        }

        label {
          width: 45%;
          position: relative;
          margin-top: 16px;

          @media screen and (max-width: 470px) {
            width: 42%;
          }

          input {
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
            font-size: 14px !important;

            &:focus,
            &:focus-visible {
              outline-color:#28AAE1;
            }
          }

          &:first-child::before {
            content: 'Minimum';
            position:absolute;
            left: 5px;
            bottom: 97%;
            font-size: 12px;
            color: black;
          }

          &:last-of-type::before {
            content: 'Maximum';
            position:absolute;
            left: 5px;
            bottom: 97%;
            font-size: 12px;
            color: black;
          }
        }
      }

      &-input {
        padding: 0 0.2rem;
        width: 5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }

      &-separator {
        width: 5%;
        text-align: center;
        margin-top: 24px;
        @media screen and (max-width: 470px) {
          width: 8%;
        }
      }

      &-submit {
        padding: 0;
        overflow: visible;
        font: inherit;
        line-height: normal;
        color: inherit;
        background: none;
        border: 0;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
        background-color: black !important;
        padding: 13px 24px;
        height: auto;
        font-size: 14px;
        margin-top: 16px;

        @media screen and (max-width: 470px) {
          padding: 5px 24px;
          margin-top: 8px;
        }
      }

      &-submit::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &-submit[disabled] {
        cursor: default;
      }

      &-submit {
        // margin-left: 0.3rem;
        -webkit-appearance: none;
          -moz-appearance: none;
                appearance: none;
        // padding: 0 0.5rem;
        // height: 1.5rem;
        line-height: 1.5rem;
        // font-size: 0.8rem;
        color: #fff;
        // background-color: #0096db;
        border: none;
        border-radius: 5px;
        transition: 0.2s ease-out;
        outline: none;
      }

      &-submit:hover, &-submit:focus {
        background-color: #0073a8;
      }

      // Hide the submit button.
      &-submit{
        display: none !important;
      }
    }
    // Algolia Price Range Input Style END

    // Algolia Price Range Slider Style START
    .ais-Panel-body .ais-RangeSlider {
      margin: 2rem 0;
    }

    .ais-RangeSlider {

      color: rgb(58, 69, 112);

      &-handle {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 1;
        background: #ffffff;
        border: 1px solid #46aeda;
        border-radius: 50%;
        cursor: pointer;
      }
      
      &-tooltip {
        position: absolute;
        background: #ffffff;
        top: -22px;
        font-size: 0.8em;
      }
      
      &-value {
        width: 40px;
        position: absolute;
        text-align: center;
        margin-left: -20px;
        padding-top: 15px;
        font-size: 0.8em;
      }
      
      &-marker {
        position: absolute;
        background: #ddd;
        margin-left: -1px;
        width: 1px;
        height: 5px;
      }

      .rheostat {
        overflow: visible;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .rheostat-background {
        height: 6px;
        top: 0px;
        width: 100%;
      }

      .rheostat-handle {
        margin-left: -12px;
        top: -7px;
      }

      .rheostat-background {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #aaa;
      }

      .rheostat-progress {
        position: absolute;
        top: 1px;
        height: 4px;
        background-color: #333;
      }

      .rheostat-progress {
        background-color: #28AAE1;
      }
      .rheostat-background {
        border-color: #878faf;
        box-sizing: border-box;
        background-color: #d7d7d7;
        border-radius: 10px;
        border: none !important;
      }
      .rheostat-handle {
        border-color: #28AAE1;
      }
      .rheostat-marker {
        background-color: transparent;
        display: none;
      }
    }

    .rheostat-handle {
      position: relative;
      z-index: 1;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #333;
      border-radius: 50%;
      cursor: grab;
    }

    .rheostat-marker {
      margin-left: -1px;
      position: absolute;
      width: 1px;
      height: 5px;
      background-color: #aaa;
    }

    .rheostat-marker--large {
      height: 9px;
    }

    .rheostat-value {
      margin-left: 50%;
      padding-top: 15px;
      position: absolute;
      text-align: center;
      transform: translateX(-50%);
    }

    .rheostat-tooltip {
      margin-left: 50%;
      position: absolute;
      text-align: center;
      transform: translateX(-50%);

      font-size: 14px !important;
      top: -26px;
    }
    // Algolia Price Range Slider END

    hr {
      margin-bottom: 32px;
      margin-top: 4px;
    }
  }

  .modal-footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    // position: fixed;
    // bottom: 2%;
    // left: 50%;
    background: white;
    z-index: 9999;
    // max-width: 778px;
    // transform: translateX(-50%);
    padding: 16px 12px;

    @media screen and (max-width: 767px) {
      // width: 95.2%;
      padding: 15px;
    }

    .container {
      padding: 0;
      margin: 0;

      .clear-all-btn {
        padding: 0;
        // pointer-events: none;
        cursor: pointer;

        .ais-ClearRefinements {
          display: flex;

          button {
            @media screen and (max-width: 991px) {
              text-align: left;
            }
            @media screen and (max-width: 767px) {
              padding: 0;
              position: relative;
              bottom: 0;
            }
          }
        }
      }

      .apply-filters-info {
        @media screen and (max-width: 991px) {
          display: flex;
          align-items: center;
          gap: 16px;
          justify-content: flex-end;
        }
        @media screen and (max-width: 767px)  {
          padding: 0;
        }
        button {
          @media screen and (max-width: 767px) {
            border-radius: 4px;
            background: #000;
            border: none;
            color: #FFF;
            line-height: 24px;
            padding: 8px 16px;
          }
        }

        .filter-results-number {
          @media screen and (max-width: 767px) {
            padding: 0;
          }
        }
      }
    }
    button {
      // padding: 12px 20px;
    }
  }

  #destinations {
    & > div {
      &.select-all-active {
        & > div.form-check {
          input[type=checkbox] {
            & ~ span.f-check-active {
              display: block !important;
              float: left;
            }
            
            & ~ span.f-check {
              display: none !important;
              float: left;
            }
          }
        }
        li div div.menu-facet-container a.ais-anchor span.f-check-active {
          display: block !important;
          float: left;
          margin-right: 10px;
        }
        li div div.menu-facet-container a.ais-anchor span.f-check {
          display: none !important;
          float: left;
          margin-right: 10px;
        }
      }
      &.select-all-inactive {
        & > div.form-check {
          input[type=checkbox] {
            & ~ span.f-check-active {
              display: none !important;
              float: left;
            }
            
            & ~ span.f-check {
              display: block !important;
              float: left;
            }
          }
        }
        li div div.menu-facet-container a.ais-anchor span.f-check-active {
          display: none !important;
          float: left;
          margin-right: 10px;
        }
        li div div.menu-facet-container a.ais-anchor span.f-check {
          display: block !important;
          float: left;
          margin-right: 10px;
        }
      }
      & > .form-check {
        position: relative;
        input {
          opacity: 0;
          width: 23px;
          height: 23px;
          margin-top: 0;
          &:indeterminate{
            opacity: 1;
            background-color: #000;
            border-color: #000;
            border-radius: 2px;
          }
        }
        label {
          font-weight: 600;
        }
        .f-check img,
        .f-check-active img {
          width: 23px;
          height: 23px;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
        }
        span.f-check-active {
          display: none !important;
          float: left;
        }
        span.f-check {
          display: block !important;
          float: left;
        }
        input[type="checkbox"]:checked ~ .f-check {
          display: none !important;
        }
      
        input[type="checkbox"]:checked ~ .f-check-active {
          display: block !important;
        }

        input[type="checkbox"]:indeterminate ~ .f-check,
        input[type="checkbox"]:indeterminate ~ .f-check-active {
          display: none !important;
        }
      }

      & > div:not(.form-check) {
        padding-left: 28px;
      }
    }
  }
}

.elementor-popup-modal {
  .dialog-close-button {
    text-decoration: none !important;
    .eicon-close:before {
      color: #000 !important;
    }
  }
}
// scss-docs-end modal-fullscreen-loop
.no-scroll {
  overflow: hidden !important;
}
.open-roommate-popup, .checkout-private-popup, .checkout-double-occupancy, .checkout-travel-protection-tooltip {
  cursor: pointer;
}
.open-to-roommate-popup-container, .private-popup-container, .travel-protection-tooltip-container {
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 9999;
  background-color: #00000038;
  display: none;

  .open-to-roommate-popup, .private-popup, .travel-protection-tooltip {
    position: absolute;
    top: 50%;
    margin-top: 12px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
    padding: 18px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 90%;
    max-width: 550px;
    z-index: 9999;
    padding: 32px 44px;
    text-align: center;
    @media screen and (max-width: 768px) {
      padding: 16px 22px;
    }

    h3 {
      font-size: 30px;
    }

    div, h3 {
      text-align: left;
      margin-bottom: 24px;

      @media screen and (max-width: 768px) {
        margin-bottom: 16px;
      }
    }


    .close-btn {
      background-color: black;
      color: white;
      border-color: black;
      padding: 14px 16px;
      width: 32%;
      font-weight: 500;
      border-width: 2px;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

// Quick Look modal on the archive and search pages.
.modal.quick-look-modal {
  z-index: 9999;
  .checkout-summary__card-header{
    --summary-card-background:#28AAE1 ;
    &.style-hiking {
      --summary-card-background: #6B9214;
    }
  }
  &.fade {
    /*Right*/
    .modal-dialog {
      right: -320px;
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
         -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
           -o-transition: opacity 0.3s linear, right 0.3s ease-out;
              transition: opacity 0.3s linear, right 0.3s ease-out;
    }
  }

  &.show {
    .modal-dialog {
      right: 0;
    }
  }

  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);

    @media screen and (max-width: 768px) {
      top: 11%;
      height: 89%;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
    }
  }

  /* ----- MODAL STYLE ----- */
  .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: none;
  }

  .modal-body {
    padding: 0 !important;

    .trip-desc {
      // font-size: 20px;
      padding-bottom: 32px !important;
    }

    .trip-product-line {
       background-color: unset !important;
       display: block !important;
    }

    .checkout-summary__card-header {
      padding: 0 !important;
      background-color: #f4f4f4;
      margin-bottom: 16px;
      overflow: hidden;
    
      .overview-details {
        @media screen and (max-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          row-gap: 0px;
          & > ul {
            width: 100%;
            border: none !important;
          }
        }
      }

      .btn-close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        filter: invert(1);
        font-size: 22px;

        @media screen and (max-width: 768px) {
          right: 15px;

          i {
            &::before {
              font-size: 34px;
            }
          }
        }
      }

      .checkout-summary__card {
        border-radius: 0 !important;
        position: relative;
        margin-bottom: 32px !important;

        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
        @media screen and (max-width: 768px) {
        }
      }

      .trip-title-copy-container {
        padding-top: 70px;
        position: relative;
      }
      
      & > *:not(.checkout-summary__card) {
        padding-bottom: 16px;
        padding-left: 32px !important;
        padding-right: 32px !important;
      }

      .checkout-summary__title {
        padding-bottom: 0 !important;
        font-size: clamp(30px, 2.5vw, 42px);
        padding-right: 20px;
        display: inline;

        @media screen and (max-width: 768px) {
          padding-right: 0;
        }
      }

      .mobile-share-link  {
        // display: none;
          box-shadow: none !important;
          border: none;
          background: none;
          display: inline;
          padding: 0px 10px;
          margin-top: -5px;
          color: #212529 ;

          i {
            &::before {
              font-size: 20px;
            }
          }
        // }

        &:hover {
          color: rgb(124, 124, 124);
        }
      }

      .bikes-container {
        display: flex;
        gap: 16px;
        .bikes {
          padding-bottom: 0 !important;
        }
      }
    }
    
    .mobile-link-copied {
      width: fit-content !important;
      display: inline-block;
      left: unset !important;
      top: unset !important;
      transition: all ease 0.8s;
      position: absolute !important;
      bottom: 16px !important;
      height: fit-content;
      right: -28%;

      @media screen and (min-width: 768px) {
        top: -5px;
      }
      // position: relative;

      .toast-body {
        padding: 6px 12px;
      }

      &.show {
       
        right: 5px;
        @media screen and (min-width: 768px) {
          display: inline-block;
        }
      }
    }

    .quick-view-buttons {
      display: flex;
      gap: 10px;

      .btn {
        border-width: 1px !important;
        font-size: 14px;
        padding: 6px 12px !important;
        font-weight: 400 !important;
        line-height: 27px;


        &.share-link {
          font-size: 19px;
          display: none;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }


      .link-copied {
        border: 1px solid #bababa;
        border-radius: 4px 4px 4px 4px;

        & > div {
          padding-top: 1px;
        }

        .toast-body {
          font-size: 14px;
          padding: 6px 12px !important;
          font-weight: 400 !important;
          border-color: #b9b9b9;
          border-radius: 4px 4px 4px 4px;
          border: none;
        }
      }

      // @media screen and (max-width: 768px) {
        .view-trip-link {
          position: fixed;
          bottom: 21px;
          z-index: 999;
          right: 30px;
        }
      // }
    }

    .dates-pricing-container {
      padding: 0 32px !important;
    }
  }
}
